*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Open Sans',sans-serif;
}
/* header and nivigation style */
.header-main{
  background-color: #FFF8F3;
  width: 1600px;
  height: 837px;
  
 ;
}
.nav-title{
  font-weight: 800;
  font-size: 45px;
  margin-left:226px ;
  margin-top: 51px;     


}
.text-primary{
  color:#FD6E0A ;
 
}
nav{
  display: flex;
  justify-content: space-between;
}
nav li{
  list-style: none;
  margin-left: 50px;
}
nav ul{
  display: flex;
   margin-right:226px ;
  margin-top: 51px;
  align-items: center;
}
.btn-heir{
  width: 150px;
  height: 64px;
  background-color: #FD6E0A;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  color: white;

}
.header-img{
  background-image: url(ima);
}