*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Open Sans',sans-serif;
}
/* header and nivigation style */
.header-main{
  background-color: #FFF8F3;
  width: 1600px;
  height: 837px;
  overflow: hidden
  
 ;
}
.nav-title{
  font-weight: 800;
  font-size: 45px;
  margin-left:226px ;
  margin-top: 51px;     


}
.text-primary{
  color:#FD6E0A ;
 
}
nav{
  display: flex;
  justify-content: space-between;
}
nav li{
  list-style: none;
  margin-left: 50px;
}
nav ul{
  display: flex;
   margin-right:226px ;
  margin-top: 51px;
  align-items: center;
}
.btn-heir{
  width: 150px;
  height: 50px;
  background-color: #FD6E0A;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  color: white;

}
.header-img{
 position: absolute;
 width: 1036px;
height: 518px;
left: 600px;
top: 323px;
}
.hardy{
position: absolute;
width: 584px;
height: 676px;
left: 858px;
top: 165px;

}
.cntent{
  position: absolute;
width: 598px;
height: 356px;
left: 226px;
top: 297px;

}
.title-1{
font-weight: 600;
font-size: 45px;
line-height: 61px;

}
.titel-2{
font-weight:700;
font-size: 85px;
line-height: 116px;}
.t-para{
font-weight: 400;
font-size: 18px;
line-height: 30px;
margin-bottom: 70px;
/* or 167% */


/* Dark 03 */

color: #757575;
}
.btn-d{
  padding: 10px;
  width: 150px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  
  font-size: 18px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.btn-c{
  background-color: #FD6E0A;
  color: white;
}